In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:

shirts = pd.read_csv('data/14_shirts.csv', index_col=0)

size_mapping = {"S": 0, "M": 1, "L": 2, "XL": 3}

shirts["taglia"] = shirts["taglia"].map(size_mapping)

shirts = pd.concat([shirts, pd.get_dummies(shirts["colore"])], axis=1).drop('colore', axis=1)

shirts

    taglia  prezzo  bianco  rosso  verde
0        0    4.99       1      0      0
1        1   19.99       1      0      0
2        3   12.49       1      0      0
3        3   14.99       1      0      0
4        0   14.99       1      0      0
..     ...     ...     ...    ...    ...
95       2    9.99       1      0      0
96       1   14.99       0      0      1
97       0   12.49       0      1      0
98       2   12.49       0      1      0
99       0   19.99       0      1      0

[100 rows x 5 columns]