In [62]:
import pandas as pd
import numpy as np

In [63]:
iris_nan = pd.read_csv('data/iris_nan.csv', index_col=0)
Y = iris_nan['class'].values
X = iris_nan.drop("class", axis=1)

iris_nan.head()

   index  sepal_length  sepal_width  petal_length  petal_width           class
0    103           6.3          2.9           5.6          1.8  Iris-virginica
1    129           7.2          3.0           5.8          1.6  Iris-virginica
2     20           5.4          3.4           NaN          0.2     Iris-setosa
3    112           6.8          3.0           5.5          2.1  Iris-virginica
4    111           6.4          2.7           5.3          1.9  Iris-virginica

In [64]:
iris_nan.fillna(iris_nan.mean(numeric_only=True)).head()

   index  sepal_length  sepal_width  petal_length  petal_width           class
0    103           6.3          2.9      5.600000          1.8  Iris-virginica
1    129           7.2          3.0      5.800000          1.6  Iris-virginica
2     20           5.4          3.4      4.414815          0.2     Iris-setosa
3    112           6.8          3.0      5.500000          2.1  Iris-virginica
4    111           6.4          2.7      5.300000          1.9  Iris-virginica

In [65]:
iris_nan.fillna(iris_nan.dropna().mode().iloc[0]).head()

   index  sepal_length  sepal_width  petal_length  petal_width           class
0    103           6.3          2.9           5.6          1.8  Iris-virginica
1    129           7.2          3.0           5.8          1.6  Iris-virginica
2     20           5.4          3.4           5.0          0.2     Iris-setosa
3    112           6.8          3.0           5.5          2.1  Iris-virginica
4    111           6.4          2.7           5.3          1.9  Iris-virginica

In [66]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy="mean", missing_values=np.NaN)
X = iris_nan.drop("class", axis=1)
imp.fit_transform(X)